header{
    background-color: rgb(75, 183, 255);
    display: flex;
    padding: 0px 40px;
    text-decoration: none;
    color: white;
    z-index: 10;
    top: 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#LUXE{
    float: left;
    color: white;
    display: flex;
    align-items: center;
}
#LUXE a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 5px;
} 
nav{
    float: right;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 20px 30px;
}
 nav ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
 }
 nav ul li{
    margin: 0 10px;
    display: flex;
    align-items: center;
 }
 nav ul li a{
    text-decoration: none;
    color: white;
    margin-left: 5px;
}
nav ul li  a:hover{
    color: blue;
    font-size: 30px;
}
#section-1{
    background-color: rgb(211, 176, 243);
    padding: 10%;
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
}
footer li{
list-style: none;

}
input{
    background-color: blueviolet;
    border-radius: 10px;
}
#section-2{
    display: flex;
   justify-content: space-evenly;
   background-color: black;
   color: white;
   flex-wrap: wrap;
}
.titre1{
    background-color: black;
    color: blueviolet;
    padding: 1%;
}
.div-1:hover{
    background-color: rgb(46, 28, 1);
    font-size: 10px;
}
.div-1{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    text-align: center;
    background-color: #030303;
    box-shadow: 0 2px 10px;
    width: 150px;
}
img{
    border-radius: 8px;
}
.about-2{
    color: yellow;
}
h3{
    color: blueviolet;
}